<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  <script src="{{url_for('static',filename='main.js')}}"></script>
  <meta name="google-signin-client_id" content="879734766856-kafl325jgpia177h89hbv7c9nn4h7mhm.apps.googleusercontent.com">
</head>

<header>

  <h1>Catalog</h1>

  <div id="googleIn">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </div>

  <div id="googleOut">
    <a href="#" onclick="signOut();">Sign out</a>
  </div>

</header>

<body>

  <div id="mainbox">

    <div class="sidenav">

      <h2>Categories</h2>

      {% for cat in categories %}
      <a href="{{url_for('catalogCategory',category=cat.name)}}">{{cat.name}}</a>
      {% endfor %}

    </div>

    <main>

      <h1>{{category.name}}</h1>

      {% for i in items %}
      <div>
        <a href="{{url_for('categoryItem',category=category.name,item_name=i.name)}}">{{i.name}}</a>
      </div>
      {% endfor %}

      <div id="authNeeded">
        </br>
        <a href="{{url_for('newCatalogItem',category=category.name)}}">Add a new {{category.name}} item</a>
      </div>

      <div>
        </br>
        <a href="{{url_for('fullCatalog')}}">Back to full catalog</a>
      </div>

    </main>

  </div>

</body>

</html>