<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  <script src="{{url_for('static',filename='main.js')}}"></script>
  <meta name="google-signin-client_id" content="879734766856-kafl325jgpia177h89hbv7c9nn4h7mhm.apps.googleusercontent.com">
</head>

<header>

  <h1>Catalog</h1>

  <div id="googleIn">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </div>

  <div id="googleOut">
    <a href="#" onclick="signOut();">Sign out</a>
  </div>

</header>

<body>

  <div id="mainbox">

    <main>

      <div id="noAuth">
        <p>You must sign in to delete an item.</p>

        <form action="{{url_for('categoryItem',category=category,item_name=item)}}">
          <input type='submit' value='Return to {{item}}'>
        </form>
      </div>

      <div id="authNeeded">

        <h1>Confirm deletion?</h1>

        <form action="{{url_for('deleteCatalogItem',category=category,item_name=item)}}" method='POST'>
          <p>Click the below to delete {{item}} from {{category}}.</p>
          <input type='submit' value='Confirm deletion'>
        </form>

        <form action="{{url_for('categoryItem',category=category,item_name=item)}}">
          <input type='submit' value='Cancel'>
        </form>

      </div>

    </main>

  </div>

</body>

</html>