<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
</head>

<header>

  <h1>Catalog</h1>

  <form action="http://localhost:8000/" method="GET" id="login">
    <button type=submit>Login</button>
  </form>

</header>

<body>

  <div id="mainbox">

    <main>

      <h1>Confirm deletion?</h1>

      <form action="{{url_for('deleteCatalogItem',category=category,item_name=item)}}" method='POST'>
        <p>Click the below to delete {{item}} from {{category}}.</p>
        <input type='submit' value='Confirm deletion'>
      </form>

      <form action="{{url_for('categoryItem',category=category,item_name=item)}}">
        <input type='submit' value='Cancel'>
      </form>

    </main>

  </div>

</body>

</html>