<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles.css')}}">
  <script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
  <script src="{{url_for('static',filename='main.js')}}"></script>
  <meta name="google-signin-client_id" content="879734766856-kafl325jgpia177h89hbv7c9nn4h7mhm.apps.googleusercontent.com">
</head>

<header>

  <h1>Catalog</h1>

  <div id="googleIn">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </div>

  <div id="googleOut">
    <a href="#" onclick="signOut();">Sign out</a>
  </div>

</header>

<body>

  <div id="mainbox">

    <main>

      <h1>New Catalog Item</h1>

      <div>
        <form action="{{url_for('newCatalogItem',category=category,item_name=name,description=description)}}" method='POST'>
          <p>Name:</p>
          <input type='text' size='30' name='name'>

          <p>Description:</p>
          <input type='text' size='50' maxlength='500' name='description'>
          
          <input type='submit' value='Create'>
        </form>

        <form action="{{url_for('catalogCategory',category=category)}}">
          <input type='submit' value='Cancel'>
        </form>
      </div>

    </main>

  </div>

</body>

</html>