header {
  color: #ffffff;
  background-color: #003366;
  margin-bottom: 10px;
  padding: 10px;
}

body {
  font-family: sans-serif;
  background-color: #808080;
}

h1 {
  display: inline-block;
}

h1,
h2 {
  font-family: 'georgia', serif;
  margin: 0;
}

h2 {
  margin-left: 6px;
  font-size: 1.2em;
  color: #ffffff;
}

p {
  color: #003366;
}

a {
  text-decoration: none;
  color: #EE7600;
}

#login {
  margin-top: 10px;
  margin-right: 10px;
  float: right;
}

#googleIn {
  float: right;
  display: none;
}

#googleOut {
  float: right;
  padding: 10px;
  display: none;
}

#authNeeded {
  display: none;
}

button {
  background-color: #ffa500;
  color: #ffffff;
  border-radius: 5px;
  font-size: 15px;
}

/* The sidebar menu */
.sidenav {
  display: table-cell;
  height: 100%;
  float: left;
  width: 160px; /* Set the width of the sidebar */
  background-color: #003366;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 10px;
  border-radius: 10px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #add8e6;
  display: block;
}

/* Change link color when hovering over */
.sidenav a:hover {
  font-weight:bold;
}

/* Box to hold main page content */
#mainbox {
  background-color: #f1f1f1;
  width: 95%;
  border-radius: 10px;
  display: table;
  padding: 15px;
}

/* Style page content */
main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 5px 20px;
}